body{
    background-color:rgb(11, 28, 120);
    margin: 0;
}
  /* HEADER LAYER */
header{
    background-color: rgb(9, 9, 73);
    border-bottom: 3px solid rgb(9, 9, 40);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    
}

/* TITILE BAR */
#header-title{
    font-family: Libertinus Serif ;
    color:azure;
    font-size: 4em;  

}
  /* MAIN LAYER */

main{
    display: flex;
  
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    padding: 0 5%;
}
/* MAIN CONTENT*/
#main-title{
    width: 100%;
    font-size: 3em;
    color: aliceblue;
}
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
#today-container{
    border: 3px solid rgb(0, 110, 188);
    border-radius: 20px;
    background-color: rgb(0, 84, 194);

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    max-width: 2000px;
    min-width: 800px;
    min-height: 700px;
    height: 100%;
    width: 100%;

}
#days-container{

    border: 3px solid rgb(0, 110, 188);
    border-radius: 20px;
    background-color: rgb(0, 84, 194);
    display: flex;
    justify-content: space-around;
}
.data2{
    font-size: 1.2em;
    text-align: center;
    color: azure;
    min-width: 200px;

}
#data-graph{
    background-color:rgba(240, 255, 255, 0.586);
    height: 390px ;
    border-radius: 15px ;
}

#left-part{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);


    max-width: 400px;
    min-width: 300px;
    width: 100%;
    max-height: 400px;
    min-width: 300px;
    height: 90%;

    display: flex;
    justify-content: center;
    gap: 10px;
}
#right-part{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

    width: 800px;
    height: 630px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}
#time-data{
    display: grid;
    grid-template-rows: 80px 80px;
    align-content: end;

}
.days-data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

#loading-screen{
    font-size: 2em;
    color: azure;
}


/* DATA */
.data-containers{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    text-align: left;

}
.symbols{
    width: 50px;
    height: 50px;

}
.data{
    font-size: 2em;
    color: azure;
}
.right-data{
    border-right: 2px solid rgba(174, 163, 255, 0.416);
    border-top-right-radius: 3px;
     font-size: 1.5em;
    color: azure;
    align-content: end;
    text-align: center;
    padding: 5px;
}
.time-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 800px;
    min-width: 500px;
    width: 100%;
    height: 80px;
    font-size: 0.7em;

    border-top: 3px solid rgba(174, 163, 255, 0.416);
    border-top-right-radius: 20px;
}





